@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.success-area { 
    padding:12px;
    font-weight:850;
    color:#262626;
    background:#CCFFCC;
    border:2px solid #00CC00;
}

.error-area {
     padding:12px;
     font-weight:850;
     color:#262626;
     background:#FFEBE8;
     border:2px solid #990000;
}

.table_line {
    display: table;
    width: 1000px;
}

.table_block {
    display: table-cell;
    border: solid 1px #999;
    width: 150px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 120px;
  height: 120px;
}
 
.spinner span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
}

.spinner.type1 {
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: #fff rgba(255, 255, 255, 0.12) rgba(255, 255, 255, 0.12);
    -webkit-animation: spinner_loading 1.5s infinite linear forwards;
            animation: spinner_loading 1.5s infinite linear forwards;
}

.spinner.type1 span {
    animation: spinner_loading_text 1.5s infinite linear forwards reverse;
}

.spinner_box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    -webkit-transition: all 1.2s ease;
            transition: all 1.2s ease;
    color: #fff;
    background-color: #333;
}

.spinner_box.loaded{
    animation: spinner_loaded 0.5s 1 linear forwards;
    pointer-events:none;
}
   
@keyframes spinner_loading {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0);
              transform: translate(-50%, -50%) rotate(0);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
              transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spinner_loading_text {
    0% {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
      opacity: 0;
      -webkit-transform: translate(-50%, -50%) rotate(180deg);
              transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
              transform: translate(-50%, -50%) rotate(360deg);
    }
}
   
@keyframes spinner_loaded {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
        visibility:hidden;
    }
}